# Node.js dependencies  
node_modules/  
npm-debug.log*  

# Environment variables  
.env  

# Logs  
logs/  
*.log  

# Build files  
dist/  
build/  

# OS/Editor-specific files  
.DS_Store  
Thumbs.db  
.vscode/  
.idea/  
